@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.445);
    gap: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    place-items: center;
}

.board-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}

/*.board-grid:hover {
    background-color: rgb(163, 156, 156);
    transition: background-color 500ms linear;
}*/

.buttons {
    display: flex;
    gap: 10px;
}

.turn-notif {
    font-size: 30px;
    font-weight: 800;
}

button {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    border: none;
}